{% extends "main.html" %}
{% block content %}

    <div class="container">
        <form method="POST" action="{{url_for('editTask', taskId=t.id, projectId=p.id)}}">
            <label for="name">Task Name:</label>
            <input type="text" name="name" placeholder="{{t.name}}"><br>
            <label for="description">Description:</label>
            <input type="text" name="description" placeholder="{{t.description}}"><br>
            <input type="hidden" name="project_id" value="{{p.id}}"><br>
            <input type="submit" value="Create">
        </form>
    </div>

{% endblock %}